body {
    background: transparent !important;
    background-color: transparent !important;
}

app-root {
    background-color: #202020;
	background-image: radial-gradient(10% 100% ellipse at bottom center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 100%);
	transition: background-color 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.card {
    box-shadow: none !important;
}