<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-success">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <g class="nc-icon-wrapper" fill="#111111">
                    <path d="M23.98 4C12.94 4 4 12.96 4 24s8.94 20 19.98 20C35.04 44 44 35.04 44 24S35.04 4 23.98 4zm8.52 28.3L22 26V14h3v10.5l9 5.34-1.5 2.46z"/>
                </g>
              </svg>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><g class="nc-icon-wrapper" stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="#111111" stroke="#111111"><path data-cap="butt" fill="none" stroke="#111111" stroke-miterlimit="10" d="M54,24c1.3,3.1,2,6.5,2,10 c0,14.4-11.6,26-26,26S4,48.4,4,34S15.6,8,30,8c5.1,0,9.9,1.5,13.9,4" stroke-linecap="butt"/> <polyline data-color="color-2" fill="none" stroke-miterlimit="10" points=" 20,26 30,36 60,6 "/></g></svg> -->
              <!-- <i class="nc-icon nc-check-circle-07 text-warning"></i> -->
            </div>
            <div slot="content">
              <p class="card-category">Total tracked this week</p>
              <h4 class="card-title">{{overallWeek}}</h4>
            </div>
            <div slot="footer">
              <!-- <i class="fa fa-refresh"></i>Updated now -->
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-success">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <g class="nc-icon-wrapper" fill="#111111">
                    <path d="M23.98 4C12.94 4 4 12.96 4 24s8.94 20 19.98 20C35.04 44 44 35.04 44 24S35.04 4 23.98 4zm8.52 28.3L22 26V14h3v10.5l9 5.34-1.5 2.46z"/>
                </g>
              </svg>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><g class="nc-icon-wrapper" stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="#111111" stroke="#111111"><path data-cap="butt" fill="none" stroke="#111111" stroke-miterlimit="10" d="M54,24c1.3,3.1,2,6.5,2,10 c0,14.4-11.6,26-26,26S4,48.4,4,34S15.6,8,30,8c5.1,0,9.9,1.5,13.9,4" stroke-linecap="butt"/> <polyline data-color="color-2" fill="none" stroke-miterlimit="10" points=" 20,26 30,36 60,6 "/></g></svg> -->
              <!-- <i class="nc-icon nc-check-circle-07 text-warning"></i> -->
            </div>
            <div slot="content">
              <p class="card-category">Total tracked today</p>
              <h4 class="card-title">{{overall}}</h4>
            </div>
            <div slot="footer">
              <!-- <i class="fa fa-refresh"></i>Updated now -->
            </div>
          </stats-card>
        </div>
        
        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-success">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                  <g class="nc-icon-wrapper" fill="#111111">
                      <path d="M23.6 21.8c-4.54-1.18-6-2.39-6-4.29 0-2.18 2.01-3.71 5.4-3.71 3.56 0 4.88 1.7 5 4.2h4.42c-.13-3.45-2.24-6.59-6.42-7.62V6h-6v4.32c-3.88.85-7 3.35-7 7.22 0 4.62 3.83 6.92 9.4 8.26 5.01 1.2 6 2.95 6 4.83 0 1.37-.97 3.57-5.4 3.57-4.12 0-5.75-1.85-5.96-4.2h-4.41c.25 4.38 3.52 6.83 7.37 7.66V42h6v-4.3c3.89-.75 7-3 7-7.11 0-5.66-4.86-7.6-9.4-8.79z"/>
                  </g>
              </svg>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><g class="nc-icon-wrapper" stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="#111111" stroke="#111111"><path data-cap="butt" fill="none" stroke="#111111" stroke-miterlimit="10" d="M54,24c1.3,3.1,2,6.5,2,10 c0,14.4-11.6,26-26,26S4,48.4,4,34S15.6,8,30,8c5.1,0,9.9,1.5,13.9,4" stroke-linecap="butt"/> <polyline data-color="color-2" fill="none" stroke-miterlimit="10" points=" 20,26 30,36 60,6 "/></g></svg> -->
              <!-- <i class="nc-icon nc-check-circle-07 text-warning"></i> -->
            </div>
            <div slot="content">
              <p class="card-category">Total earned this week</p>
              <h4 class="card-title">{{overallWeekEarned}}</h4>
            </div>
            <div slot="footer">
              <!-- <i class="fa fa-refresh"></i>Updated now -->
            </div>
          </stats-card>
        </div>

        <div class="col-xl-3 col-md-6">
          <stats-card>
            <div slot="header" class="icon-success">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                  <g class="nc-icon-wrapper" fill="#111111">
                      <path d="M23.6 21.8c-4.54-1.18-6-2.39-6-4.29 0-2.18 2.01-3.71 5.4-3.71 3.56 0 4.88 1.7 5 4.2h4.42c-.13-3.45-2.24-6.59-6.42-7.62V6h-6v4.32c-3.88.85-7 3.35-7 7.22 0 4.62 3.83 6.92 9.4 8.26 5.01 1.2 6 2.95 6 4.83 0 1.37-.97 3.57-5.4 3.57-4.12 0-5.75-1.85-5.96-4.2h-4.41c.25 4.38 3.52 6.83 7.37 7.66V42h6v-4.3c3.89-.75 7-3 7-7.11 0-5.66-4.86-7.6-9.4-8.79z"/>
                  </g>
              </svg>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><g class="nc-icon-wrapper" stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="#111111" stroke="#111111"><path data-cap="butt" fill="none" stroke="#111111" stroke-miterlimit="10" d="M54,24c1.3,3.1,2,6.5,2,10 c0,14.4-11.6,26-26,26S4,48.4,4,34S15.6,8,30,8c5.1,0,9.9,1.5,13.9,4" stroke-linecap="butt"/> <polyline data-color="color-2" fill="none" stroke-miterlimit="10" points=" 20,26 30,36 60,6 "/></g></svg> -->
              <!-- <i class="nc-icon nc-check-circle-07 text-warning"></i> -->
            </div>
            <div slot="content">
              <p class="card-category">Total earned today</p>
              <h4 class="card-title">{{overallEarned}}</h4>
            </div>
            <div slot="footer">
              <!-- <i class="fa fa-refresh"></i>Updated now -->
            </div>
          </stats-card>
        </div>
      </div>


      <div class="row">
        <div class="col-md-8">
          <chart-card :chart-data="lineChart.data"
                      :chart-options="lineChart.options"
                      :responsive-options="lineChart.responsiveOptions">
            <template slot="header">
              <h4 class="card-title">Users Behavior</h4>
              <p class="card-category">24 Hours performance</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Open
                <i class="fa fa-circle text-danger"></i> Click
                <i class="fa fa-circle text-warning"></i> Click Second Time
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
            </template>
          </chart-card>
        </div>

        <div class="col-md-4">
          <chart-card :chart-data="pieChart.data" chart-type="Pie">
            <template slot="header">
              <h4 class="card-title">Email Statistics</h4>
              <p class="card-category">Last Campaign Performance</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Open
                <i class="fa fa-circle text-danger"></i> Bounce
                <i class="fa fa-circle text-warning"></i> Unsubscribe
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
              </div>
            </template>
          </chart-card>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <chart-card
            :chart-data="barChart.data"
            :chart-options="barChart.options"
            :chart-responsive-options="barChart.responsiveOptions"
            chart-type="Bar">
            <template slot="header">
              <h4 class="card-title">2014 Sales</h4>
              <p class="card-category">All products including Taxes</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Tesla Model S
                <i class="fa fa-circle text-danger"></i> BMW 5 Series
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-check"></i> Data information certified
              </div>
            </template>
          </chart-card>
        </div>

        <div class="col-md-6">
          <card>
            <template slot="header">
              <h5 class="title">Projects and tasks</h5>
              <p class="category">Time by tasks</p>
            </template>
            <l-table :data="tableData.data"
                     :columns="tableData.columns">
              <template slot="columns"></template>

              <template slot-scope="{row}">
                <td>
                  {{row.project}}
                </td>
                <td>
                  {{row.task}}
                </td>
                <td>
                  {{row.tracked}}
                </td>
              </template>
            </l-table>
            <div class="footer">
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
            </div>
          </card>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import ChartCard from 'src/components/Cards/ChartCard.vue'
  import StatsCard from 'src/components/Cards/StatsCard.vue'
  import LTable from 'src/components/Table.vue'
  import moment from 'moment'

  export default {
    components: {
      LTable,
      ChartCard,
      StatsCard
    },
    data () {
      return {
        overall: '',
        overallWeek: '',
        overallEarned: '',
        overallWeekEarned: '',
        pieChart: {
          data: {
            labels: ['40%', '20%', '40%'],
            series: [40, 20, 40]
          }
        },
        lineChart: {
          data: {
            labels: ['9:00AM', '12:00AM', '3:00PM', '6:00PM', '9:00PM', '12:00PM', '3:00AM', '6:00AM'],
            series: [
              [287, 385, 490, 492, 554, 586, 698, 695],
              [67, 152, 143, 240, 287, 335, 435, 437],
              [23, 113, 67, 108, 190, 239, 307, 308]
            ]
          },
          options: {
            low: 0,
            high: 800,
            showArea: false,
            height: '245px',
            axisX: {
              showGrid: false
            },
            lineSmooth: true,
            showLine: true,
            showPoint: true,
            fullWidth: true,
            chartPadding: {
              right: 50
            }
          },
          responsiveOptions: [
            ['screen and (max-width: 640px)', {
              axisX: {
                labelInterpolationFnc (value) {
                  return value[0]
                }
              }
            }]
          ]
        },
        barChart: {
          data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            series: [
              [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
              [412, 243, 280, 580, 453, 353, 300, 364, 368, 410, 636, 695]
            ]
          },
          options: {
            seriesBarDistance: 10,
            axisX: {
              showGrid: false
            },
            height: '245px'
          },
          responsiveOptions: [
            ['screen and (max-width: 640px)', {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc (value) {
                  return value[0]
                }
              }
            }]
          ]
        },
        tableData: {
          columns: [ 'Project', 'Task', 'Tracked' ],
          data: [
            {
              project: 'Test project',
              task: '',
              tracked: '10 min from 10:45'
            },
            {
              project: 'Test project',
              task: 'Test task',
              tracked: '1 hour from 12:00'
            },
            {
              project: 'Test project',
              task: 'Another task',
              tracked: '1 min from 13:45'
            }
          ]
        }
      }
    },
    mounted(){
      this.$router.io.emit('action', { method: 'getgroups' }, (groups) => {
        this.groups = groups;
        console.log('groups', groups.filter(group => group.parent_id == null))
      })
      this.$router.io.emit('action', { method: 'getoverall' }, (overallToday) => {
        const rate = 5.2;
        const overall = overallToday[1];
        const durationHours = Math.floor(moment.duration(overall*1000, 'ms').asHours());
        const durationMins = moment.duration(overall*1000, 'ms').minutes();
        const overallStr = moment.utc(overall*1000).format("HH:mm:ss");
        const overallHours = (overall / 3600).toFixed(1);

        this.overall = overallStr;
        this.overallEarned = (overallHours * rate).toFixed(2);
        console.log('overall', overall)
      })
      this.$router.io.emit('action', { method: 'getoverall', forWeek: true }, (overall) => {
        const rate = 5.2;
        const overallWeek = overall[1];
        const durationHoursWeek = Math.floor(moment.duration(overallWeek*1000, 'ms').asHours());
        const durationMinsWeek = moment.duration(overallWeek*1000, 'ms').minutes();
            
        const overallWeekStr = `${durationHoursWeek}h ${durationMinsWeek}m`
        const overallWeekHours = (overallWeek / 3600).toFixed(1);

        this.overallWeek = overallWeekStr;
        this.overallWeekEarned = (overallWeekHours * rate).toFixed(2);
        console.log('overallWeek', overall)
      })
    }
  }
</script>
<style>

</style>
