<template>
  <div class="contact-us full-screen">
    <nav class="navbar navbar-ct-default" role="navigation-demo">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <router-link :to="{path:'/'}" class="navbar-brand">T-RAcker</router-link>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <router-link :to="{path:'/'}">Home</router-link>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-->
    </nav>
    <div class="wrapper wrapper-full-page section content">
      <div class="container centered column">
        <div class="column centered">
          <card>
            <header>
              <h2>Sign In</h2>
            </header>
            <div id="signin-app" class="signin-content">
              <textfield v-bind:label="labelUname" v-bind:id="idUname" type="email" :oninput="mailchange"></textfield>
              <textfield v-bind:label="labelPass" v-bind:id="idPass" type="password" :oninput="passchange"></textfield>
              <v-button style="margin-top: 20%;" :onclick="signin">{{labelSubmit}}</v-button>
              <v-button style="margin-top: 2%;" :onclick="signup">{{labelSignup}}</v-button>
            </div>
          </card>
        </div>
      </div>
    </div>
    <content-footer></content-footer>
  </div>
</template>

<script>
  import Textfield from '../components/Textfield.vue'
  import VButton from '../components/Button.vue'
  import Card from '../components/Cards/Card.vue'
  import ContentFooter from '../layout/ContentFooter.vue'
import moment from 'moment'
  export default {
    data() { 
      return {
        labelSignin: 'Sign In',
        labelUname: 'Email',
        labelPass: 'Password',
        labelSubmit: 'Sign In',
        labelSignup: 'Sign Up',
        idUname: 'funame',
        idPass: 'fpass',
        login: '',
        password: '',
        initialitems: [
          'Item one',
          '2 Two',
          'Somebody says...',
          'Lorem ipsum',
          'And more'
        ],
        items: [],
        searchVal: []
      }
    },
    methods: {
      signin () {
        this.$router.io.emit('action', { method: 'signin', login: this.login, password: this.password, syncTime: moment().parseZone().format() })
      },
      signup() {
        this.$router.push('/signup')
      },
      onselected (sel) {
        this.searchVal = sel
      },
      mailchange (e) {
        this.login = e.target.value;
      },
      passchange (e) {
        this.password = e.target.value;
      }
    },
    components: {
      ContentFooter,
      Card,
      Textfield,
      VButton
    }
  }

</script>

<style scoped>
header h2 {
  margin: 0;
}

.card {
  margin-top: -50px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 400px;
}

.signin-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.centered {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
}

.column {
  flex-direction: column;
}

.md-textfield {
  margin-top: 5px;
}

.wrapper {
  height: 80vh;
  min-height: 80vh;
}

</style>