<template>
  <div id="router-app">
    <sign-in v-if="currentRoute === 'signin'" :io="io" :root="root"></sign-in>
    <timer v-if="currentRoute === 'timer'" :io="io" :modal="modal" :root="root" :logout="logout"></timer>
  </div>
</template>

<script>
import Timer from './Timer'
import SignIn from './SignIn'
import moment from 'moment'

export default {
  data(){ 
    return {
      currentRoute: localStorage.getItem('page'),
    }
  },
  props: [ 'io', 'modal', 'root' ],
  methods: {
    goto: function (to) {
      localStorage.setItem('page', to)
      this.io.emit('load', to)
      this.currentRoute = to
    },
    logout: function () {
      this.io.emit('action', { method: 'logout' })
    },
    logoutEverywhere: function() {
      this.io.emit('action', {method: 'logouteverywhere'})
    }
  },
  beforeMount () {
    this.currentRoute = localStorage.getItem('page');
    let user = JSON.parse(localStorage.getItem('user'));
    let notAuthed = (!localStorage.getItem('isAuthed') || !localStorage.getItem('user') || !user.access_token) && this.currentRoute !== 'signin' 
    let authedCheck = (localStorage.getItem('isAuthed') && localStorage.getItem('user') && user.access_token) && this.currentRoute === 'index'
    let timer = localStorage.getItem('isAuthed') && this.currentRoute == 'timer'
    if(notAuthed)
    {
      sessionStorage.setItem('loaded', true);
      this.goto('signin');
      this.io.emit('log', sessionStorage.getItem('loaded'));
    }
    else if(authedCheck)
    {
      sessionStorage.setItem('loaded', true);
      this.io.emit('action', { method: 'signin', login: user.email, token: user.access_token, ref_token: user.refresh_token, syncTime: moment().parseZone().format() }, (result) => {
        this.io.emit('log', `SIGNIN RESULT: ${JSON.stringify(result)}`)
        if(result[0] == 'signin-ok')
        {
          this.goto('timer')
        }
        else
        {
          this.goto('signin')
        }
      })
    }
    else if(timer)
    {
      this.io.emit('action', { method: 'getuser'})
    }
  },
  mounted () {
    this.io.on('loggedout', () => {
      localStorage.removeItem('isAuthed');
      localStorage.removeItem('user');
      this.goto('signin');
    })
    this.io.on("signin-ok", (user) => {
      localStorage.setItem('isAuthed', true)
      localStorage.setItem('user', JSON.stringify(user))
      this.goto("timer")
    })
    this.io.on("user", (user) => {
      localStorage.setItem('isAuthed', true)
      localStorage.setItem('user', JSON.stringify(user))
    })
    this.io.on("signin-fail", (reason) => {
      this.modal.show('Error', reason)
    })
  },
  components: {
    Timer,
    SignIn,
    
  }
}
</script>