<template>
    <div id="settings-app" class="card container settingsPane">
      <h1 class="draggable-area">Settings</h1>
      <checkbox id="canRun" v-model="canStartIfNoTask">Can track when no task selected?</checkbox>
      <checkbox id="isAlwaysOnTop" v-if="isElectron()" v-model="alwaysOnTop">Always on top</checkbox>
      <v-button v-if="gitLabAuthed()" onclick="null" disabled="true" style="top: 5%" >Gitlab Connected</v-button>
      <v-button v-else :onclick="gitlabauth" style="top: 5%" >Connect to Gitlab</v-button>
      <v-button :onclick="logOut" style="top: 10%" >Logout</v-button>
      <v-button :onclick="closesettings" style="top: 20%" >Close</v-button>
    </div>
</template>

<script>
import VButton from './../components/Button'
import Dropdown from './../components/Dropdown'
import Checkbox from './../components/Checkbox'

export default {
  props: [ 'setCanStartIfNoTask', 'setVisible', 'logout', 'io' ],
    data() { 
      return {
        gitlab_authed: false,
        canStartIfNoTask: false,
        alwaysOnTop: false,
        loaded: false
      }
    },
    methods: {
        load () {
          this.canStartIfNoTask = JSON.parse(localStorage.getItem("canStartIfNoTask"));
          this.setCanStartIfNoTask(this.canStartIfNoTask);

          this.io.emit('getv', 'alwaysOnTop', (confParam) => {
            console.log(confParam)
            this.alwaysOnTop = confParam
            console.log(this.alwaysOnTop)
            this.loaded = true
          })
        },
        gitLabAuthed () {
            return (JSON.parse(localStorage.getItem("user")).gitlab && JSON.parse(localStorage.getItem("user")).gitlab.id);
        },
        logOut () {
            this.logout();
        },
        gitlabauth () {
            this.io.emit('action', { method: 'auth_gitlab' } )
        },
        closesettings(){
            this.setVisible(false);
        },
        isElectron() {
          return sessionStorage.getItem('isElectron');
        }
    },
    watch: {
        canStartIfNoTask: function(val) {
          this.setCanStartIfNoTask(this.canStartIfNoTask);
          localStorage.setItem("canStartIfNoTask", this.canStartIfNoTask);
        },
        alwaysOnTop: function(val) {
          if(this.loaded)
            this.io.emit('setv', { param: 'alwaysOnTop', value: val })
        }
    },
    beforeMount() {
        this.load();
    },
    components: {
      Checkbox,
      VButton,
      Dropdown
    }
}
</script>