<template>
  <div class="card container signin-form">
    <div class="signin-header">
      <h1 class="draggable-area" style="margin-top: -5px;">Sign In</h1>
      <div id="theme-mgr">
        <theme-manager :root="root"></theme-manager>
      </div>
    </div>
    <div id="signin-app" class="signin-content">
      <textfield v-bind:label="labelUname" v-bind:id="idUname" type="email" :oninput="mailchange"></textfield>
      <textfield v-bind:label="labelPass" v-bind:id="idPass" type="password" :oninput="passchange"></textfield>
      <v-button style="margin-top: 20%;" :onclick="signin">{{labelSubmit}}</v-button>
    </div>
    
  </div>
</template>

<script>
import ThemeManager from './ThemeMgr'
import Textfield from '../components/Textfield'
import VButton from '../components/Button'
import moment from 'moment'

export default {
  props: [ 'io', 'root' ],
  data() { 
    return {
      labelSignin: 'Sign In',
      labelUname: 'Email',
      labelPass: 'Password',
      labelSubmit: 'Sign In',
      idUname: 'funame',
      idPass: 'fpass',
      login: '',
      password: '',
      initialitems: [
        'Item one',
        '2 Two',
        'Somebody says...',
        'Lorem ipsum',
        'And more'
      ],
      items: [],
      searchVal: []
    }
  },
  methods: {
    signin () {
      this.io.emit('action', { method: 'signin', login: this.login, password: this.password, syncTime: moment().parseZone().format() })
    },
    inputIt: function (e) {
      this.items = this.initialitems.filter(item => item.toLowerCase().indexOf(e.target.value.toLowerCase()) !== -1)
      this.searchVal = e.target.value
    },
    onselected (sel) {
      this.searchVal = sel
    },
    mailchange (e) {
      this.login = e.target.value;
    },
    passchange (e) {
      this.password = e.target.value;
    }
  },
  mounted(){
    this.items = [...this.initialitems]
  },
  components: {
    ThemeManager,
    Textfield,
    VButton
  }
}
</script>