<template>
  <div id="socket-app">
    <slot><slot>
  </div>
</template>

<script>
import io from 'socket.io-client'

export default {
  props: [ 'setIO', 'modal' ],
  data: function() {
    return {
      io: this._io 
    }
  },
  beforeMount(){
    const isElectron = sessionStorage.getItem('isElectron');

    // if(rawIsElectron)
    // {
    //   isElectron = JSON.parse(rawIsElectron);
    // }
    
    const url = isElectron ? 'http://localhost:3000' : 'https://t-racker.herokuapp.com'
    let _io = io(url)
    let modal = this.modal
    
    _io.on('error', function (reason) {
      console.error(reason, modal)
      modal.show('Socket Error', reason)
    })
    
    _io.on('connect_error', (err) => {
      console.error(err, JSON.stringify(modal))
      modal.show('Socket Error', err)
    });
    
    this.$emit('setIO', _io)
    this._io = _io
  }
}
</script>