<template>
  <div class="card container signin-form">
  <div id="app" class="timer-content">
    <div class="signin-header">
      <h2 id="time" class="draggable-area">{{ tracked }} <span class="overall"> <label>Total:</label> <span>{{overall}}</span></span></h2>
      <div id="theme-mgr">
        <theme-manager :root="root"></theme-manager>
      </div>
    </div>
    <v-button :disabled="runDisabled()" :onclick="toggleTimer">{{ btnRun }}</v-button>
    <dropdown style="margin-top: 10px;" :oninput="searchProject" :onselect="onselectproj" label="Project" :options="projects" :value="projectValue" :disabled="tracking"></dropdown>
    <dropdown :oninput="searchTask" :onselect="onselecttask" label="Task" :options="tasks" :value="taskValue" :disabled="tracking"></dropdown>
    <v-button :onclick="opensettings" style="top: 20%">Settings</v-button>
  </div>
  <settings v-if="settings_visible" :setVisible="setSettingsVisible" :setCanStartIfNoTask="setCanStartIfNoTask" :io="io" :logout="logout"></settings>
  </div>
</template>

<script>
import VButton from './../components/Button'
import Dropdown from './../components/Dropdown'
import Settings from './Settings'
import ThemeManager from './ThemeMgr'
import moment from 'moment'

export default {
  props: [ 'io', 'modal', 'root', 'logout' ],
  data() {
    return {
      btnRun: 'Run',
      tracking: false,
      tracked: '00:00:00',
      started: null,
      activity: null,
      wholeProjects: [],
      wholeTasks: [],
      tasks: [],
      projects: [],
      task: null,
      project: null,
      projectValue: '',
      taskValue: '',
      overall: '00:00:00',
      overallInt: 0,
      canStartIfNoTask: this.canStartIfNoTask,
      settings_visible: this.settings_visible
    }
  },
  methods: {
    load () {
      this.projects = [ ...this.wholeProjects ];
      this.tasks = [ ...this.wholeTasks ];
      
      this.canStartIfNoTask = JSON.parse(localStorage.getItem("canStartIfNoTask"));
      
      this.io.on('projects', (projs) => {
        this.wholeProjects = projs;
        this.update();
      })
      
      this.io.on('tasks', (tasks) => {
        this.wholeTasks = tasks;
        this.tasks = [...this.wholeTasks]
      })
      
      this.io.on('time', ret => {
        this.tracked = moment().startOf('day').seconds(+ret).format('HH:mm:ss');
      })
      
      this.io.on('gitlab_auth_next', (url) => window.open(url, 'GitLab'))
      
      this.io.emit('action', { method: 'getprojects' });
      this.getoverall();
      this.getTimeForTask();
    },
    notGitLabAuth () {
      return !(JSON.parse(localStorage.getItem("user")).gitlab && JSON.parse(localStorage.getItem("user")).gitlab.id);
    },
    update(){
      this.project = null;
      this.tasks = [];
      this.task = null;
      this.projectValue = '';
      this.taskValue = '';
      this.projects = [ ...this.wholeProjects ];
    },
    getoverall(){
      this.io.emit('action', { method: 'getoverall' }, ret => {
        this.overallInt = +ret[1];
        this.overall = moment.utc(moment.duration(this.overallInt, 's').as('ms')).format('HH:mm:ss');
      })
    },
    getTimeForTask(){
      this.io.emit('action', { 
        method: 'getTimeForTask', 
        projectId: this.project ? this.project.id : -1, 
        taskId: this.task ? this.task.id : -1 
      });
    },
    toggleTimer () {
      this.tracking = !this.tracking;
      this.btnRun = this.tracking ? "Stop" : "Run";
      if(this.tracking){
        this.io.emit('action', { 
            method: 'starttrack', 
            projectId: this.project ? this.project.id : -1, 
            taskId: this.task ? this.task.id : -1 
          }, 
          (ret) => {
            let activity = ret[1];
            this.start = activity.start;
            if(this.timer)
            {
              clearInterval(this.timer)
            }
            this.timer = setInterval(this.tick, 1000);
            this.io.emit('notify', { title: 't-RAcker', body: 'Started tracking' });
        });
      }
      else
      {
        this.io.emit('action', {method: 'stoptrack'}, (ret) => {
          if(ret[0] != 'stopped')
          {   
            this.modal.show('Error', ret[0]);
            return;
          }
          if(this.timer)
          {
            clearInterval(this.timer)
            this.timer = null
          }
          this.io.emit('notify', { title: 't-RAcker', body: 'Stopped tracking' });
        })
      }
      this.getoverall();
    },
    tick () {
      this.io.emit('action', { method: 'track' }, (ret) => {
        let activity = ret[1];
        this.activity = activity;
        this.tracked = moment().startOf('day').seconds(activity.overall).format('HH:mm:ss');
        ++this.overallInt;
        this.overall = moment.utc(moment.duration(this.overallInt, 's').as('ms')).format('HH:mm:ss');
      });
    },
    searchProject (e) {
      this.projects = this.wholeProjects.filter(item => item.name.toLowerCase().indexOf(e.target.value.toLowerCase()) !== -1)
      this.projectValue = e.target.value
      if(e.target.value == "")
        this.project = null
    },
    searchTask (e) {
      this.tasks = this.wholeTasks.filter(item => item.title.toLowerCase().indexOf(e.target.value.toLowerCase()) !== -1)
      this.taskValue = e.target.value
      if(e.target.value == "")
        this.task = null
    },
    onselectproj (proj) {
      this.project = proj;
      this.projectValue = proj.name;
      this.task = null;
      this.taskValue = '';
      this.io.emit('action', { method: 'gettasks', projectId: proj.id });
      this.getTimeForTask()
    },
    onselecttask (task) {
      this.task = task;
      this.taskValue = task.title;
      this.getTimeForTask();
    },
    opensettings () {
      this.settings_visible = true;
    },
    setSettingsVisible (visible) {
      this.settings_visible = visible;
    },
    setCanStartIfNoTask (can) {
      this.canStartIfNoTask = can;
      localStorage.setItem("canStartIfNoTask", this.canStartIfNoTask);
    },
    runDisabled () {
      const disabled = ((!this.canStartIfNoTask) && !(this.task && this.taskValue.length > 0));
      return disabled;
    }
  },
  beforeMount() {
    this.load();
  },
  components: {
    Settings,
    VButton,
    Dropdown,
    ThemeManager
  }
}
</script>