<template>
  <button v-on:click="onclick" :disabled="disabled">
    <a href="#">
      <slot></slot> 
      <span v-if="!disabled" class="shift">›</span>
    </a>
    <div class="mask"></div>
  </button>
</template>

<script>
export default {
  props: ['label', 'onclick', 'disabled']
}
</script>

<style scoped>
button {
  background-color: transparent;
  display: flex;
	border: 2px solid #2e2e2e;
	cursor: pointer;
	letter-spacing: 0.1rem;
	overflow: hidden;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Open Sans';
	position: relative;
  text-align: center;
  justify-content: center;
	text-transform: uppercase;
	transition: 
		background 5s cubic-bezier(0.19, 1, 0.22, 1),
		border 1s cubic-bezier(0.19, 1, 0.22, 1),
		color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
  outline: none;
}

button a {
	color: #969696;
	text-decoration: none;
}

button .mask {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -70px, 0) rotate3d(0, 0, 1, -60deg);
	transition: transform 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}

button .shift {
	display: inline-block;
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: #fff;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
	transition: background 0s;
}

button:hover a {
	color: #fff;
}

button:hover .mask {
  opacity: 1;
	background-color: #fff;
	transform: translate3d(120%, -70px, 0) rotate3d(0, 0, 1, -60deg);
}

button:hover .shift {
	transform: translateX(5px);
}

button:active {
  background-color: #fff;
  outline: none;
}

button:active a {
	color: #202020;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
  background-color: rgba(156, 174, 192, 0.17);
  border: 1px solid #5f5f5f;
  color: #7e7e7e;
  box-shadow: none;
}

button:disabled:hover a,
button[disabled]:hover a {
  color: #7e7e7e;
}

button:disabled:hover .mask,
button[disabled]:hover .mask {
  opacity: 0;
  transform: translate3d(-120%, -70px, 0) rotate3d(0, 0, 1, -60deg);
}

button {
	border: 1px solid #969696;
}

button a {
	color: #333;
}

button .mask {
	background-color: #000;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.95);
	border-color: #000;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.2);
}

button:hover a {
	color: #000;
}

button:hover .mask {
	background-color: #000;
}

button:active {
	background-color: #000;
}

button:active a {
	color: #202020;
}


button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
  background-color: rgba(156, 174, 192, 0.17);
  border: 1px solid #5f5f5f;
  color: #7e7e7e;
  box-shadow: none;
}


button:disabled a,
button[disabled] a {
  color: #7e7e7e;
}

</style>