<template>
  <div class="md-textfield">
    <input class="md-textfield-input" :type="type" :id="id" :name="id" placeholder=" " v-on:input="oninput" autocomplete="off">
    <label :for="id">{{label}}</label>
    <div class="indicator"></div>
  </div>
</template>

<script>
export default {
  props: ['id', 'label', 'type', 'oninput']
}
</script>

<style scoped>
input:invalid {
  box-shadow: none;
}

.md-textfield   {
  display: inline-block;
  height: 60px;
  padding-top: 25px;
  margin-top: -10px;
  position: relative;
  --labelHeight: 16px;
  --textHeight: 24px;
  --labelTop: 16px;
  --labelBottom: 34px;
  --edgeTop: calc(var(--labelTop) + var(--labelHeight) + 4px);
  --edgeBottom: calc(var(--labelBottom) + var(--textHeight) + 6px);
  box-shadow: none !important;
  width: 100%;
}
.md-textfield .md-textfield-input   {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  margin-top: calc(var(--labelTop) - 4px);
  font-size: var(--textHeight);
  padding: 4px 0;
  position: relative;
  z-index: 1;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.md-textfield .md-textfield-input:focus {
  outline: none;
}
.md-textfield label {
  color: rgb(131, 131, 131);
  font-size: var(--textHeight);
  left: 0;
  position: absolute;
  top: var(--labelBottom);
  transition: all .1s ease-in 0s;
  z-index: 0;
  text-transform: capitalize;
  font-weight: 300;
}

.md-textfield .md-textfield-input:focus + label {
  color: #fff;
  top: var(--labelTop);
  font-size: var(--labelHeight);
}

.md-textfield .md-textfield-input + label + .indicator  {
  border-bottom:1px solid #fff;
  height: 1px;
  position: absolute;
  top: var(--edgeBottom);
  transition: all .1s ease-in 0s;
  width: 100%;
  z-index: 2;
}

.md-textfield .md-textfield-input:focus + label + .indicator    {
  top: var(--edgeTop);
}

.md-textfield .md-textfield-input:not(:placeholder-shown) + label {
  top: var(--labelTop);
  color: #fff;
  font-size: var(--labelHeight);
}

.md-textfield .md-textfield-input:not(:placeholder-shown) + label + .indicator {
  top: var(--edgeTop);
}

.md-textfield .md-textfield-input:invalid + label {
  color: red !important;
}

.md-textfield .md-textfield-input:invalid + label + .indicator {
  border-color: red;
}


.md-textfield {
	color: #000;
}

.md-textfield .md-textfield-input:focus + label {
  color: #9E9E9E;
}

.md-textfield .md-textfield-input + label + .indicator  {
  border-bottom-color: rgb(199, 199, 199);
}

.md-textfield .md-textfield-input:not(:placeholder-shown) + label {
  color: #9E9E9E;
}

.md-textfield .md-textfield-input   {
	color: #000;
}

</style>