<template>
  <div id="root-app">
    <modal-app @setModal="setModal">
      <socket-app v-if="modal" @setIO="setIO" :modal="modal">
        <router v-if="io" :io="io" :modal="modal" :root="root"></router>
      </socket-app>
    </modal-app>
  </div>
</template>

<script>
import Router from './modules/Router'
import SocketApp from './modules/Socket'
import ModalApp from './modules/Modal'
import './../Styles/theme.css'

export default {
  data(){
    return {
      io: this.io,
      modal: this.modal,
      root: this.$el
    }
  },
  methods: {
    setIO: function(io) {
      this.io = io;
    },
    setModal: function(modal){
      this.modal = modal;
    }
  },
  components: {
    Router, SocketApp, ModalApp
  },
  mounted() {
    this.root = this.$el
    const isElectron = sessionStorage.getItem('isElectron');
    
    if(isElectron){
        var appStyle = document.createElement('link')
        appStyle.href = './Styles/app.css'
        appStyle.rel = "stylesheet"
        this.$el.append(appStyle)
      }
  }
}
</script>

<style>
  @import url('../Styles/theme.css');
</style>