<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./Styles/theme.css"/>
    <script src="./Scripts/vue.js"></script>
    <script src="./Scripts/moment.js"></script>
    <script src="./Scripts/ThemeManager.js"></script>
    <script src="./Scripts/components/themeswitch.js"></script>
    <title>Demo</title>
  </head>
  <body>
    <div id="theme-mgr">
      <themeswitch @on-click="toggle" v-bind:theme="themeHelper.theme"></themeswitch>
    </div>
    <div id="app">
      <h1>{{tracked}}</h1>
      <button v-on:click="toggleTimer">
        <a href="#">
          {{ btnRun }} <span class="shift">›</span>
        </a>
        <div class="mask"></div>
      </button>
    </div>
    <script src="./Scripts/theme-mgr-app.js"></script>
    <script src="./Scripts/app.js"></script>
  </body>
</html>