<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./Styles/theme.css"/>
    <script src="./Scripts/vue.js"></script>
    <script src="./Scripts/moment.js"></script>
    <script src="./Scripts/socket.io.js"></script>
    <script src="./Scripts/lodash.min.js"></script>
    <script src="./Scripts/ThemeManager.js"></script>
    <script src="./Scripts/components/themeswitch.js"></script>
    <script src="./Scripts/components/textfield.js"></script>
    <script src="./Scripts/components/button.js"></script>
    <script src="./Scripts/components/dropdown.js"></script>
    <script src="./Scripts/components/dialog.js"></script>
  </head>
  <body>
    <div class="card container signin-form">
      <div class="signin-header">
        <h1 class="draggable-area" style="margin-top: -5px;">Sign In</h1>
        <div id="theme-mgr">
          <themeswitch @on-click="toggle" v-bind:theme="themeHelper.theme"></themeswitch>
        </div>
      </div>
      <div id="signin-app" class="signin-content">
        <textfield v-bind:label="labelUname" v-bind:id="idUname" type="email" :oninput="mailchange"></textfield>
        <textfield v-bind:label="labelPass" v-bind:id="idPass" type="password" :oninput="passchange"></textfield>
        <!-- <dropdown :oninput="inputIt" :onselect="onselected" label="Input your..." :options="items" :value="searchVal"></dropdown> -->
        <v-button style="margin-top: 20%;" :onclick="signin">{{labelSubmit}}</v-button>
      </div>
      
    </div>
    <div id="modal-app">
      <v-dialog v-if="modalShown" :reject="close" :accept="action" oktitle="OK" :title="title" :body="body"></v-dialog>
    </div>
    <div id="socket-app"></div>
    <div id="router-app"></div>
    <script src="./Scripts/modal-app.js"></script>
    <script src="./Scripts/socket-app.js"></script>
    <script src="./Scripts/router-app.js"></script>
    <script src="./Scripts/signin-app.js"></script>
    <script src="./Scripts/theme-mgr-app.js"></script>
  </body>
</html>