<!DOCTYPE html>
<html>
  <head>
    <title>Timer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./Styles/theme.css"/>
    <script src="./Scripts/vue.js"></script>
    <script src="./Scripts/moment.js"></script>
    <script src="./Scripts/socket.io.js"></script>
    <script src="./Scripts/lodash.min.js"></script>
    <script src="./Scripts/ThemeManager.js"></script>
    <script src="./Scripts/components/themeswitch.js"></script>
    <script src="./Scripts/components/textfield.js"></script>
    <script src="./Scripts/components/button.js"></script>
    <script src="./Scripts/components/dropdown.js"></script>
    <script src="./Scripts/components/checkbox.js"></script>
    <script src="./Scripts/components/dialog.js"></script>
    <script src="./Scripts/components/renderString.js"></script>
    <script src="./Scripts/components/tabs.js"></script>
    <style>
    </style>
  </head>
  <body style="justify-content: flex-start; flex-direction: column">
    <div class="" style="width: 90%;">
      <div id="theme-mgr">
        <themeswitch @on-click="toggle" v-bind:theme="themeHelper.theme"></themeswitch>
      </div>
      <div id="tab-app">
        <v-tabs :tabs="tabs"></v-tabs>
      </div>
    </div>
    <div id="modal-app">
      <v-dialog v-if="modalShown" :reject="close" :accept="action" oktitle="OK" :title="title" :body="body"></v-dialog>
    </div>
    <div id="socket-app"></div>
    <div id="router-app"></div>
        
    <script src="./Scripts/modal-app.js"></script>
    <!-- <script src="./Scripts/socket-app.js"></script> -->
    <!-- <script src="./Scripts/settingsApp.js"></script> -->
    <script src="./Scripts/tabapp.js"></script>
    <!-- <script src="./Scripts/router-app.js"></script> -->
    <script src="./Scripts/theme-mgr-app.js"></script>
  </body>
</html>