<!DOCTYPE html>
<html>
  <head>
    <title>Timer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./Styles/theme.css"/>
    <script src="./Scripts/vue.js"></script>
    <script src="./Scripts/moment.js"></script>
    <script src="./Scripts/socket.io.js"></script>
    <script src="./Scripts/lodash.min.js"></script>
    <script src="./Scripts/ThemeManager.js"></script>
    <script src="./Scripts/components/themeswitch.js"></script>
    <script src="./Scripts/components/textfield.js"></script>
    <script src="./Scripts/components/button.js"></script>
    <script src="./Scripts/components/dropdown.js"></script>
    <script src="./Scripts/components/checkbox.js"></script>
    <script src="./Scripts/components/dialog.js"></script>
    <style>
    body{
      background-color: black;
    }
    </style>
  </head>
  <body>
    <div class="card container signin-form">
      <div id="theme-mgr">
        <themeswitch @on-click="toggle" v-bind:theme="themeHelper.theme"></themeswitch>
      </div>
      <div id="app" class="timer-content">
        <h2 id="time" class="draggable-area">{{ tracked }} <span class="overall"> <label>Total:</label> <span>{{overall}}</span></span></h2>
        <v-button :disabled="runDisabled()" :onclick="toggleTimer">{{ btnRun }}</v-button>
        <dropdown style="margin-top: 10px;" :oninput="searchProject" :onselect="onselectproj" label="Project" :options="projects" :value="project"></dropdown>
        <dropdown :oninput="searchTask" :onselect="onselecttask" label="Task" :options="tasks" :value="task"></dropdown>
        <v-button :onclick="opensettings" style="top: 20%">Settings</v-button>
      </div>
    </div>
    <div id="settings-app">
      <div v-if="settings_visible" class="card container settingsPane">
        <h1 class="draggable-area">Settings</h1>
        <checkbox id="canRun" v-model="canStartIfNoTask">Can track when no task selected?</checkbox>
        <v-button v-if="gitlab_authed" onclick="null" disabled="true" style="top: 5%" >Gitlab Connected</v-button>
        <v-button v-else :onclick="gitlabauth" style="top: 5%" >Connect to Gitlab</v-button>
        <v-button :onclick="logout" style="top: 10%" >Logout</v-button>
        <v-button :onclick="closesettings" style="top: 20%" >Close</v-button>
      </div>
    </div>
    <div id="modal-app">
      <v-dialog v-if="modalShown" :reject="close" :accept="action" oktitle="OK" :title="title" :body="body"></v-dialog>
    </div>
    <div id="socket-app"></div>
    <div id="router-app"></div>
        
    <script src="./Scripts/modal-app.js"></script>
    <script src="./Scripts/socket-app.js"></script>
    <script src="./Scripts/settingsApp.js"></script>
    <script src="./Scripts/app.js"></script>
    <script src="./Scripts/router-app.js"></script>
    <script src="./Scripts/theme-mgr-app.js"></script>
  </body>
</html>