<template>
  <div class="md-textfield">
    <input class="md-textfield-input" :type="type" :id="id" :name="id" placeholder=" " v-on:input="oninput" autocomplete="off">
    <label :for="id">{{label}}</label>
    <div class="indicator"></div>
  </div>
</template>

<script>
export default {
  props: ['id', 'label', 'type', 'oninput']
}
</script>